<%- include('partials/header') %>
  <section class="about-hero">
    <div class="container">
      <div class="about-content">
        <h1>About Madison</h1>
        <div class="about-image">
          <img src="/img/about/temp_portrait.png" alt="Madison portrait">
        </div>
        <div class="about-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed
            erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim.</p>

          <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut
            dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio.</p>

          <h2>Artistic Philosophy</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
            dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

          <h2>Education & Training</h2>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur</li>
            <li>Nullam tincidunt adipiscing enim</li>
            <li>Cras ultricies mi eu turpis hendrerit</li>
          </ul>

          <h2>Awards & Recognition</h2>
          <ul>
            <li>Fusce fermentum odio nec arcu, 2023</li>
            <li>Suspendisse faucibus, nunc et pellentesque, 2021</li>
            <li>Maecenas tempus tellus eget condimentum, 2019</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="about-documents">
    <div class="container">
      <h2>Professional Documents</h2>
      <div class="document-grid">
        <div class="document-card">
          <img src="/img/about/Madison Jackson Director Resume.png" alt="Madison's Resume">
          <div class="document-overlay">
            <h3>Resume</h3>
            <a href="/img/about/Madison Jackson Director Resume.png" class="btn secondary-btn" download>Download</a>
          </div>
        </div>

        <div class="document-card">
          <img src="/img/about/Repertoire List.png" alt="Madison's Repertoire">
          <div class="document-overlay">
            <h3>Repertoire</h3>
            <a href="/img/about/Repertoire List.png" class="btn secondary-btn" download>Download</a>
          </div>
        </div>

        <div class="document-card">
          <img src="/img/about/Statement of Purpose.png" alt="Statement of Purpose">
          <div class="document-overlay">
            <h3>Statement of Purpose</h3>
            <a href="/img/about/Statement of Purpose.png" class="btn secondary-btn" download>Download</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>