<%- include('partials/header') %>

<section class="error-page">
  <div class="container">
    <h1>Error</h1>
    <p><%= message %></p>
    <a href="/" class="btn primary-btn">Back to Home</a>
  </div>
</section>

<%- include('partials/footer') %>